/* fonts */
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Regular'), local('Cormorant-Regular'),
        url('../fonts/Cormorant-Regular.woff2') format('woff2'),
        url('../fonts/Cormorant-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant';
    src: local('Cormorant Bold'), local('Cormorant-Bold'),
        url('../fonts/Cormorant-Bold.woff2') format('woff2'),
        url('../fonts/Cormorant-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

/* reset styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

picture {
    display: block;
}

/* glob */
body {
    font-family: 'Montserrat', sans-serif;
    color: #353535;
    min-width: 320px;
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1700px;
    padding: 0 20px;
    margin: 0 auto;
}

.search {
    position: relative;
}

.search__input {
    width: 100%;
    height: 48px;
    background-color: #fff;
    border: 2px solid #C9B675;
    border-radius: 34px;
    padding: 0 70px 0 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.search__btn {
    width: 70px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.btn {
    padding: 14px 22px;
    background-color: #C9B675;
    border: 2px solid #C9B675;
    box-shadow: 0 4px 16px rgba(80, 62, 1, 0.2);
    border-radius: 34px;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    transition: color .2s ease, background-color .2s ease;
}

.btn_bg-transparent {
    background-color: transparent;
    color: #353535;
}

.page-title {
    font-family: 'Cormorant';
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-bottom: 24px;
}

.form {
    padding: 30px;
    border-radius: 25px;
    background-color: #fff;
}

.form__wrapper {
    display: flex;
    margin-bottom: 24px;
}

.form__label {
    flex-grow: 1;
    margin-right: 24px;
}

.form__label:last-child {
    margin-right: 0;
}

.form__input {
    width: 100%;
    font-size: 16px;
    line-height: 47px;
    border-bottom: 1px solid #EBEBEB;
}

.form__button {
    flex-grow: 1;
}

.form__policy {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
}

.form__policy-link {
    color: #dbcea9;
    text-decoration: underline;
    transition: color .2s ease;
}

.accor-full {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease;
}

.socials {
    display: flex;
}

.socials__item {
    margin-right: 8px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDEDED;
    border-radius: 50%;
    transition: background-color .2s ease;
}

/* contraindications */
.contraindications {
    padding: 13px 0;
    background-color: #096167;
}

.contraindications__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}

/* header */
.header {
    background-color: #fff;
    padding: 16px 0 0;
}

.header__top {
    display: flex;
    width: 100%;
}

.header__logo {
    margin-right: 8px;
}

.header__top-mobile {
    display: none;
}

.header__block {
    margin-right: 32px;
}

.header__block:last-child {
    margin-right: 0;
}

.header__block_mr-auto {
    margin-right: auto;
}

.header__info-block {
    display: flex;
    margin-bottom: 5px;
}

.header__block-descr {
    font-size: 12px;
    line-height: 16px;
    margin-right: 4px;
}

.header__block-descr:last-child {
    margin-right: 0;
}

.header__block-descr_color {
    color: #5A5A5A;
}

.header__block-phone {
    display: flex;
}

.header__block-phone-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-right: 6px;
}

.header__block-phone-text {
    font-size: 24px;
    line-height: 32px;
    color: #096167;
    transition: color .2s ease;
}

.header-bottom {
    position: sticky;
    z-index: 20;
    top: 0;
    padding-top: 16px;
    background-color: #fff;
}

.header-bottom__mobile {
    display: none;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 8px;
}

.menu__item:first-child {
    padding-left: 0;
}

.menu__item:last-child {
    padding-right: 0;
}

.menu__item-separator {
    width: 1px;
    background-color: #C4C4C4;
    margin-bottom: 16px;
}

.menu__link {
    display: flex;
    align-items: center;
    max-width: 260px;
    padding-bottom: 16px;
}

.menu__link-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #353535;
    margin-right: 6px;
    transition: color .2s ease;
}

.menu__link-text:last-child {
    margin-right: 0;
}

.menu__item-icon {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s ease;
}

.menu__item-icon_mobile {
    display: none;
}

.menu__item-icon::before,
.menu__item-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C9B675;
}

.menu__item-icon::before {
    width: 14px;
    height: 2px;
}

.menu__item-icon::after {
    width: 2px;
    height: 14px;
}

.menu__sub-list {
    position: absolute;
    top: calc(100% - 8px);
    left: 0;
    background-color: #fff;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 8px 0;
    min-width: max-content;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease, pointer-events .2s ease;
}

.menu__sub-item {
    max-width: 300px;
}

.menu__sub-link {
    display: flex;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #353535;
    transition: color .2s ease;
}

.mobile-menu__footer {
    display: none;
}

/* promo */
.promo {
    background-image: url("/assets/img/sections/promo/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.promo__container {
    background-color: rgba(0, 191, 203, 0.6);
    padding: 32px;
}

.promo__content {
    border: 1px solid #fff;
}

.promo__info {
    max-width: 1260px;
    padding: 135px 30px;
    margin: 0 auto;
}

.promo__title {
    margin-bottom: 16px;
}

.promo__descr {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.promo__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.promo__item {
    flex: 1 1 33.333%;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__item:last-child {
    border-right: none;
}

.promo__item-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 10px;
}

.promo__item-text {
    font-size: 18px;
    line-height: 120%;
    color: #fff;
    text-align: center;
    max-width: 200px;
}

@media (min-width: 1025px) {

    /* glob */
    .btn:hover {
        background-color: transparent;
        color: #353535;
    }

    .btn_bg-transparent:hover {
        background-color: #C9B675;
        color: #fff;
    }

    .form__policy-link:hover {
        color: #19B4BE;
    }

    /* header */
    .socials__link:hover {
        background-color: #35353530;
    }

    .header__block-phone:hover .header__block-phone-text {
        color: #C5B373;
    }

    .menu__item:hover .menu__sub-list {
        opacity: 1;
        pointer-events: all;
    }

    .menu__item:hover .menu__link-text {
        color: #C5B373;
    }

    .menu__item:hover .menu__item-icon {
        transform: rotate(-45deg);
    }

    .menu__sub-link:hover {
        color: #C5B373;
    }
}

@media (max-width: 1440px) {

    /* glob */
    .container {
        max-width: 1200px;
    }

    .page-title {
        font-size: 50px;
    }

    /* promo */
    .promo__info {
        padding: 50px 30px;
    }

    .promo__item-text {
        font-size: 16px;
        max-width: 180px;
    }

    .promo__descr {
        font-size: 16px;
    }

    /* header */
    .header__top {
        margin-bottom: 8px;
    }

    .header-bottom {
        padding-top: 8px;
    }

    .menu__item-separator {
        margin-bottom: 8px;
    }

    .menu__link {
        padding-bottom: 8px;
    }

    .menu__link-text {
        font-size: 12px;
        line-height: 24px;
    }

    .menu__item-icon {
        width: 20px;
        height: 20px;
    }

    .menu__item-icon::before {
        width: 10px;
    }

    .menu__item-icon::after {
        height: 10px;
    }

    .menu__sub-list {
        padding: 8px 0;
    }

    .menu__sub-link {
        font-size: 12px;
        line-height: 24px;
        padding: 4px 8px;
    }

    .header__block-phone-text {
        font-size: 18px;
    }
}

@media (max-width: 1200px) {

    /* glob */
    .page-title {
        font-size: 44px;
        font-weight: 500;
    }

    .form__policy {
        font-size: 14px;
    }

    .form__label {
        margin-right: 16px;
    }

    /* promo */
    .promo__container {
        padding: 20px;
    }

    .promo__info {
        padding: 20px;
    }

    /* contraindications */
    .contraindications__text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 1024px) {

    /* glob */
    .logo__img {
        width: 180px;
    }

    /* header */
    .header {
        padding: 16px 0;
        position: sticky;
        top: 0;
        z-index: 20;
    }

    .header__top {
        justify-content: space-between;
        margin-bottom: 0;
    }

    .header__logo {
        margin-right: 8px;
    }

    .header__block {
        display: none;
    }

    .header__top-mobile {
        display: flex;
        align-items: center;
    }

    .header__top-mobile-search {
        flex: 0 0 40px;
        height: 40px;
        display: none;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        box-shadow: 0 2.5px 10px rgba(0, 0, 0, .1);
        border-radius: 12px;
    }

    .header__top-mobile-phone {
        flex: 0 0 40px;
        height: 40px;
        margin-right: 8px;
    }

    .header-bottom {
        position: fixed;
        top: 0;
        right: -120%;
        width: 100%;
        height: 100%;
        padding: 0;
        transition: right .2s ease;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .header.active~.header-bottom {
        right: 0;
    }

    .header-bottom__container {
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;

    }

    .header-bottom__mobile {
        display: flex;
        padding: 16px 20px;
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .open-menu {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    }

    .open-menu__line {
        transform: translateY(25%);
    }

    .open-menu__line,
    .open-menu::before,
    .open-menu::after {
        height: 3px;
        background-color: #c9b675;
        border-radius: 15px;
        display: block;
        width: 14px;
        transition: opacity .2s ease;
    }

    .open-menu::before,
    .open-menu::after {
        content: '';
        width: 22px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: transform .2s ease, top .2s ease, left .2s ease;
    }

    .open-menu::before {
        top: 9px;
    }

    .open-menu::after {
        bottom: 8px;
    }

    .header.active .open-menu__line {
        opacity: 0;
    }

    .header.active .open-menu::before,
    .header.active .open-menu::after {
        top: 50%;
        left: 50%;
    }

    .header.active .open-menu::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .header.active .open-menu::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }


    .header.active~.header-bottom .open-menu__line {
        opacity: 0;
    }

    .header.active~.header-bottom .open-menu::before,
    .header.active~.header-bottom .open-menu::after {
        top: 50%;
        left: 50%;
    }

    .header.active~.header-bottom .open-menu::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .header.active~.header-bottom .open-menu::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .menu__item {
        display: block;
        padding: 0;
        padding-left: 30px;
        margin-bottom: 16px;
    }

    .menu__item:last-child {
        margin-bottom: 0;
    }

    .menu__item:first-child {
        padding-left: 30px;
    }

    .menu__list {
        display: block;
        padding: 0 20px;
    }

    .menu__link {
        justify-content: flex-end;
        flex-direction: row-reverse;
        padding-bottom: 0;
    }

    .menu__link-text {
        font-size: 16px;
        margin-right: 0;
    }

    .menu__item-icon {
        display: none;
    }

    .menu__item-icon_mobile {
        display: flex;
        width: 24px;
        height: 24px;
        margin-right: 6px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .menu__item-icon::before {
        width: 14px;
    }

    .menu__item-icon::after {
        height: 14px;
    }

    .menu__item-separator {
        display: none;
    }

    .header__menu {
        margin-bottom: 16px;
        flex-grow: 1;
    }

    .mobile-menu__footer {
        padding: 20px;
        background-color: #353535;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu__button {
        margin-bottom: 12px;
        min-width: 250px;
    }

    .mobile-menu__footer-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        text-align: center;
    }

    .mobile-menu__footer-wrapper {
        display: flex;
        align-items: center;
    }

    .mobile-menu__footer-block {
        margin-bottom: 12px;
    }

    .mobile-menu__footer-block:last-child {
        margin-bottom: 0;
    }

    .mobile-menu__footer-icon {
        margin-right: 10px;
    }

    .mobile-menu__footer-text {
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-align: center;
    }

    .menu__sub-list {
        opacity: 1;
        pointer-events: all;
        position: initial;
        padding: 8px 0 0;
    }

    .menu__sub-item {
        margin-bottom: 8px;
        max-width: initial;
    }

    .menu__sub-item:last-child {
        margin-bottom: 0;
    }

    .menu__sub-link {
        padding: 0;
        font-size: 16px;
    }

    .menu__item-icon::after {
        transition: opacity .2s ease;
    }

    .menu__item.active .menu__item-icon::after {
        opacity: 0;
    }
}

@media (max-width: 991px) {

    /* glob */
    .form {
        padding: 16px;
        border-radius: 12px;
    }
}

@media (max-width: 767px) {

    /* glob */
    .form__wrapper {
        flex-direction: column;
    }

    .form__label {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .form__policy {
        font-size: 12px;
    }

    .page-title {
        font-size: 30px;
    }

    /* promo */
    .promo__items {
        display: block;
        margin-bottom: 24px;
    }

    .promo__descr {
        margin-bottom: 24px;
    }

    .promo__item {
        flex-direction: initial;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding: 15px 0;
    }

    .promo__item-img {
        margin-bottom: 0;
        margin-right: 16px;
    }

    .promo__item-text {
        text-align: initial;
    }

    .promo__container {
        padding: 10px;
    }

    .promo__info {
        padding: 10px;
    }
}

@media (max-width: 575px) {

    /* promo */
    .promo__title {
        font-size: 26px;
    }

    .promo__item-img {
        width: 55px;
        height: 55px;
    }
}