/* fonts */
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

/* reset styles */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

picture {
    display: block;
}

/* glob */
body {
    font-family: 'Montserrat', sans-serif;
    color: #353535;
    min-width: 320px;
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1700px;
    padding: 0 20px;
    margin: 0 auto;
}

.search {
    position: relative;
}

.search__input {
    width: 100%;
    height: 48px;
    background-color: #fff;
    border: 2px solid #C9B675;
    border-radius: 34px;
    padding: 0 70px 0 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.search__btn {
    width: 70px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

.btn {
    padding: 14px 22px;
    background-color: #C9B675;
    border: 2px solid #C9B675;
    box-shadow: 0 4px 16px rgba(80, 62, 1, 0.2);
    border-radius: 34px;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    transition: color .2s ease, background-color .2s ease;
}

.btn_bg-transparent {
    background-color: transparent;
    color: #353535;
}

.page-title {
    font-size: 72px;
    line-height: 120%;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.form {
    padding: 30px;
    border-radius: 25px;
    background-color: #fff;
}

.form__wrapper {
    display: flex;
    margin-bottom: 24px;
}

.form__label {
    flex-grow: 1;
    margin-right: 24px;
}

.form__label:last-child {
    margin-right: 0;
}

.form__input {
    width: 100%;
    font-size: 16px;
    line-height: 47px;
    border-bottom: 1px solid #EBEBEB;
}

.form__button {
    flex-grow: 1;
}

.form__policy {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
}

.form__policy-link {
    color: #dbcea9;
    text-decoration: underline;
    transition: color .2s ease;
}

.accor-full {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease;
}

/* contraindications */
.contraindications {
    padding: 13px 0;
    background-color: #096167;
}

.contraindications__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    text-align: center;
}

/* header */
.header {
    padding: 24px 0;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.header__logo {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.header__block {
    margin-right: 24px;
}

.header__block:last-child {
    margin-right: 0;
}

.header__info-block {
    display: flex;
    max-width: 305px;
    margin-bottom: 8px;
    transition: color .2s ease;
}

.header__info-block:last-child {
    margin-bottom: 0;
}

.header__block-icon {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.header__block-icon_height {
    height: 0;
}

.header__block-descr {
    font-size: 16px;
    line-height: 20px;
    text-align: initial;
}

.header__block-descr_right {
    text-align: right;
}

.header__info-block .header__block-descr {
    margin-right: 4px;
}

.header__info-block .header__block-descr:last-child {
    margin-right: 0;
}

.header__block-descr_weight {
    font-weight: 500;
}

.header__search {
    margin-bottom: 8px;
}

.header__btn-group {
    display: flex;
}

.header__btn {
    margin-right: 16px;
}

.header__btn:last-child {
    margin-right: 0;
}

.header__connection {
    display: flex;
    margin-top: 8px;
}

.header__socials {
    margin-right: 24px;
}

.socials {
    display: flex;
}

.social {
    margin-right: 8px;
}

.social:last-child {
    margin-right: 0;
}

.social__link {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
}

.header__phone {
    display: flex;
    align-items: center;
}

.header__phone-icon {
    flex: 0 0 32px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 19px;
    margin-right: 8px;
}

.header__phone-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #353535;
    transition: color .2s ease;
}

.menu__list {
    display: flex;
}

.menu__item {
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid #C4C4C4;
    transition: box-shadow .2s ease, background-color .2s ease;
}

.menu__item:first-child {
    border-left: 1px solid #C4C4C4;
}

.menu__item:hover {
    background-color: #19B4BE;
    box-shadow: 0 4px 64px rgba(0, 0, 0, 0.1);
}

.menu__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    padding: 8px 12px;
}

.menu__link-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #353535;
    margin-right: 16px;
    transition: color .2s ease;
}

.menu__item:hover .menu__link-text {
    color: #fff;
}

.menu__link-text:last-child {
    margin-right: 0;
}

.menu__item-icon {
    width: 12px;
    height: 12px;
    display: flex;
    position: relative;
}

.menu__item-icon::before,
.menu__item-icon::after {
    content: '';
    background-color: #C9B675;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .2s ease;
}

.menu__item-icon::before {
    width: 100%;
    height: 2px;
}

.menu__item:hover .menu__item-icon:before {
    background-color: #fff;
}

.menu__item-icon::after {
    width: 2px;
    height: 100%;
}

.menu__item:hover .menu__item-icon:after {
    opacity: 0;
}

.menu__sub-list {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 10px 10px;
    z-index: 100;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .2s ease, visibility .2s ease, background-color .2s ease;
    -o-transition: opacity .2s ease, visibility .2s ease, background-color .2s ease;
    transition: opacity .2s ease, visibility .2s ease, background-color .2s ease;
    background-color: #19B4BE;
}

.menu__sub-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #C4C4C4;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.menu__item:hover > .menu__sub-list {
    opacity: 1;
    pointer-events: initial;
}

.menu__sub-item {
    position: relative;
    z-index: 10;
}

.menu__sub-link {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-align: center;
    transition: background-color .2s ease;
}

.menu__sub-link:hover {
    background-color: #C9B675;
}

.menu__sub-item:last-child .menu__sub-link {
    border-radius: 0 0 10px 10px;
}

.header__top-mobile {
    display: none;
}

/* promo */
.promo {
    background-image: url("/assets/img/sections/promo/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.promo__container {
    background-color: rgba(0, 191, 203, 0.6);
    padding: 30px;
}

.promo__content {
    border: 1px solid #fff;
}

.promo__info {
    max-width: 1260px;
    padding: 135px 30px 70px;
    margin: 0 auto;
}

.promo__title {
    margin-bottom: 24px;
}

.promo__descr {
    font-size: 18px;
    line-height: 120%;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}

.promo__items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.promo__item {
    flex: 1 1 33.333%;
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo__item:last-child {
    border-right: none;
}

.promo__item-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 10px;
}

.promo__item-text {
    font-size: 18px;
    line-height: 120%;
    color: #fff;
    text-align: center;
    max-width: 200px;
}

.mobile-menu {
    display: none;
}

@media (min-width: 1025px) {
    /* glob */
    button.header__info-block:hover {
        color: #19B4BE;
    }

    .btn:hover {
        background-color: transparent;
        color: #353535;
    }

    .btn_bg-transparent:hover {
        background-color: #C9B675;
        color: #fff;
    }

    .form__policy-link:hover {
        color: #19B4BE;
    }

    /* header */
    .header__phone:hover .header__phone-text {
        color: #19B4BE;
    }
}

@media (max-width: 1440px) {
    /* glob */
    .container {
        max-width: 1200px;
    }

    .page-title {
        font-size: 50px;
    }

    /* header */
    .header {
        padding: 12px 0;
    }

    .header__btn-group {
        flex-direction: column;
    }

    .header__btn {
        margin-right: 0;
    }

    .header__btn:last-child {
        display: none;
    }

    .header__socials {
        margin-right: 8px;
    }

    .menu__link {
        padding: 8px;
    }

    .menu__link-text {
        font-size: 12px;
        margin-right: 8px;
    }

    .menu__sub-link {
        padding: 8px;
        font-size: 12px;
    }

    /* promo */
    .promo__info {
        padding: 50px 30px;
    }

    .promo__item-text {
        font-size: 16px;
        max-width: 180px;
    }

    .promo__descr {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    /* glob */
    .page-title {
        font-size: 44px;
        font-weight: 500;
    }

    .form__policy {
        font-size: 14px;
    }

    .form__label {
        margin-right: 16px;
    }

    /* header */
    .header {
        background-color: #fff;
    }

    .header__top {
        margin-bottom: 0;
    }

    .logo__img {
        width: 180px;
    }

    .header__block {
        display: none;
    }

    .header__bottom {
        display: none;
    }

    .header__top-mobile {
        display: flex;
    }

    .header__top-mobile-search {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
        margin-right: 20px;
    }

    .header__top-mobile-phone {
        margin-right: 20px;
    }

    .open-menu {
        position: relative;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        box-shadow: 0 4px 16px rgb(0 0 0 / 10%);
    }

    .open-menu__line,
    .open-menu::before,
    .open-menu::after {
        height: 3px;
        background-color: #c9b675;
        border-radius: 15px;
        display: block;
        width: 14px;
        transition: opacity .2s ease;
    }

    .open-menu::before,
    .open-menu::after {
        content: '';
        width: 22px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        transition: transform .2s ease, top .2s ease, left .2s ease;
    }

    .open-menu::before {
        top: 9px;
    }

    .open-menu::after {
        bottom: 8px;
    }

    .header.active .open-menu__line {
        opacity: 0;
    }

    .header.active .open-menu::before,
    .header.active .open-menu::after {
        top: 50%;
        left: 50%;
    }

    .header.active .open-menu::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .header.active .open-menu::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .mobile-menu {
        display: block;
        position: fixed;
        top: 110px;
        left: 0;
        z-index: 10000;
        width: 100%;
        height: 100%;
        padding-bottom: 110px;
        overflow: auto;
        transform: translateX(-110%);
        transition: transform .2s ease;
    }

    header.active .mobile-menu {
        transform: translateX(0);
    }

    .mobile-menu__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.6);
    }

    .mobile-menu__wrapper {
        position: relative;
        z-index: 10;
    }

    .mobile-menu__list {
        background-color: #fff;
        padding: 20px;
    }

    .mobile-menu__item {
        position: relative;
        padding-left: 22px;
        margin-bottom: 10px;
    }

    .mobile-menu__item:last-child {
        margin-bottom: 0;
    }

    .mobile-menu__btn {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #353535;
        padding: 5px 0;
    }

    .mobile-menu__btn-open {
        position: absolute;
        top: 8px;
        left: 0;
        width: 12px;
        height: 12px;
        margin-right: 10px;
    }

    .mobile-menu__btn-open::before,
    .mobile-menu__btn-open::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #C9B675;
    }

    .mobile-menu__btn-open::before {
        width: 100%;
        height: 2px;
    }

    .mobile-menu__btn-open::after {
        width: 2px;
        height: 100%;
        transition: opacity .2s ease;
    }

    .mobile-menu__item.active .mobile-menu__btn-open::after {
        opacity: 0;
    }

    .mobile-menu__sub-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #353535;
        padding: 10px 0;
        display: flex;
        width: 100%;
    }

    .mobile-menu__sub-item {
        padding-left: 22px;
    }

    .mobile-menu__footer {
        padding: 20px;
        background-color: #353535;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu__button {
        margin-bottom: 12px;
        min-width: 250px;
    }

    .mobile-menu__footer-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        text-align: center;
    }

    .mobile-menu__footer-wrapper {
        display: flex;
        align-items: center;
    }

    .mobile-menu__footer-block {
        margin-bottom: 12px;
    }

    .mobile-menu__footer-block:last-child {
        margin-bottom: 0;
    }

    .mobile-menu__footer-icon {
        margin-right: 10px;
    }

    .mobile-menu__footer-text {
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        text-align: center;
    }

    /* promo */
    .promo__container {
        padding: 20px;
    }

    .promo__info {
        padding: 20px;
    }

    /* contraindications */
    .contraindications__text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 991px) {
    /* glob */
    .form {
        padding: 16px;
        border-radius: 12px;
    }
}

@media (max-width: 767px) {
    /* glob */
    .form__wrapper {
        flex-direction: column;
    }

    .form__label {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .form__policy {
        font-size: 12px;
    }

    .page-title {
        font-size: 30px;
    }

    /* header */
    .header__container {
        padding: 0 10px;
    }

    /* promo */
    .promo__items {
        display: block;
        margin-bottom: 24px;
    }

    .promo__descr {
        margin-bottom: 24px;
    }

    .promo__item {
        flex-direction: initial;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        padding: 15px 0;
    }

    .promo__item-img {
        margin-bottom: 0;
        margin-right: 16px;
    }

    .promo__item-text {
        text-align: initial;
    }

    .promo__container {
        padding: 10px;
    }

    .promo__info {
        padding: 10px;
    }
}

@media (max-width: 575px) {
    /* header */
    .header__top-mobile-search {
        margin-right: 8px;
    }

    .header__top-mobile-phone {
        margin-right: 8px;
    }

    .header__logo {
        margin-right: 8px;
    }

    .logo__img {
        width: 150px;
    }

    /* promo */
    .promo__title {
        font-size: 26px;
    }

    .promo__item-img {
        width: 55px;
        height: 55px;
    }
}